html
  head
    title ezpotd&apos;s writeups
    link(rel = "shortcut icon", href = "/static/favicon.ico")
    style
      include style.css
  body
    center#title 
      a(href = "/")#big ezpotd&apos;s writeups
    hr.first
    center
      h1= title
      img(src=sol, width = "1000px")